<h2>Reset password</h2>

<% 
    if(typeof error != "undefined"){
%>
 <h3 style="color:red"><%= error %></h3>
<%
    }
%>
<form action="/reset-password?token=<%= tokenData.token %>" method="POST">
    <input type="hidden" name="user_id" value="<%= tokenData.user_id %>">
    <input type="password" name="password" placeholder="New password">
    <br><br>
    <input type="password" name="c_password" placeholder="Confirm password">
    <br><br>
    <input type="submit" value="Update password">
</form>